* {
    box-sizing: border-box;
}

body {
    font-family: Content-font, Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
#header-main {
    padding: 120px;
    text-align: center;
    background: rgb(15, 33, 54);
    font-size: 32px;
    color: white;
}
.social-icons a {
    text-decoration: none;
    color: white;
}
.portfolio-github {
    margin-top: 18px;
    margin-left: 18px;
}
.portfolio-github a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.header-other {
    position: relative;
    padding: 10px;
    overflow: hidden;
    z-index: 1;
}
.navbar {
    overflow: hidden;
    background-color: rgb(85, 116, 151);
    text-align: center;
}
.navbar a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
.navbar a.left {
    position: absolute;
    left: 20px;
}
#logo {
    font-size: 20px;
    letter-spacing: 0.08em;
    font-weight: 400;
    top: 50%;
    transform: translate(0%, -50%);
}

#bio-div {
    margin-top: 50px;
    margin-bottom: 50px;
}
.head {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
}

@media screen and (max-width: 700px) {
}

.side-nav {
    position: fixed;
    height: 100%;
    top: 0;
    width: 220px;
    overflow: auto;
    padding: 80px 0px;
    background-color: #f5f7f9;
}

.side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    text-decoration: none;
}

.side-nav a {
    text-decoration: none;
    color: #9eabb7;
}

.side-nav .category {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 3px;
    text-decoration: none;
    color: #9eabb7;
    padding-left: 32px;
}

.side-nav .item {
    font-size: 14px;
    word-break: break-word;
    font-weight: 500;
    color: #525b64;
    line-height: 1.5;
    padding: 8px 0px;
    padding-left: 12px;
}
.active,
.navbar a:hover .side-nav a:hover {
    background-color: rgb(56, 78, 104);
    color: white;
    cursor: default;
}

.content {
    margin-left: 220px;
    margin-right: 110px;
    padding: 20px;
    background-color: white;
}

input[type="checkbox"] {
    display: none;
}
.lbl-toggle {
    display: block;
    cursor: pointer;
    padding: 1rem;

    transition: all 0.25s ease-out;
}

.lbl-toggle::after {
    content: " ";
    display: inline-block;
    margin-left: 2%;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);

    transition: transform 0.2s ease-out;
}
.lbl-toggle:hover {
    color: rgb(56, 78, 104);
}
/*
.collapsible-content .content-inner {
    background: rgba(250, 224, 66, 0.2);
    border-bottom: 1px solid rgba(250, 224, 66, 0.45);

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 1rem;
}
*/
.collapsible-content .content-inner {
    padding-left: 0.5rem;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 100vh;
}

.toggle:checked + .lbl-toggle::after {
    transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
